<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
</head>
<body>
    <h2>List of order details</h2>
    <table>
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Customer Id</th>
                <th>Total</th>
                <th>Cost Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.orderId}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.customerId}"></td>
                <td th:text="${order.total}"></td>
                <td th:text="${order.costPrice}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>