<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
</head>
<body>
    <h1>Order Form</h1>
    <form th:action="@{/order/total}" method="POST" th:object="${searchRequest}">
        <label for="orderid">Insert order Number</label>
        <input type="number" th:field="*{orderId}" name="orderid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>